.carousel {
  position: relative;
  width: 70%;
  height: 55%;
  max-width: 500px;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  width: 500px;
  height: 350px;
  flex-shrink: 0;
}

.prev-button, .next-button {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(244, 244, 244, 0.5);
  color: rgb(0, 0, 0);
  padding: 0 8px;
  cursor: pointer;
  border: none;
}

.prev-button {
  left: 10px;
}
.next-button {
  right: 10px;
}
